body
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;      
        height: 100%; 
    }
.groupe
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;      
        height: 100%; 
    }
form
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4vh;
    }
.choix
    {
        display: flex;
        align-items: center;
    }
#resultat
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;       
    }
img
    {
        width: 5vw;
    }
p
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
    }
#php
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
#js
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }